.controls {
    padding: 10px;
    background: black;
    color: white;
}

.videos {
    background: #eee;
    padding: 10px;
    .video {
        border-radius: 10px;
        border: 1px solid #ddd;
        background: white;
        margin: 0 0 10px 0;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        h2, h3 {
            margin: 0 0 10px;
            padding: 0;
        }
    }
}

html, body {margin:0; padding: 0;}

.keyword { background: lightgray; padding: 0 3px; margin: 0 3px; }

.bookmark { background: lightskyblue; border-radius: 4px; border: none; font-size: 70%; padding: 0 3px 2px; }
.bookmark input { font-size: 100%; }

.controls button {
    background: white; border-radius: 4px; border: 1px solid darkgray;
}

.controls button.selected {
    background: lightblue;
}


.track { padding: 0 5px; }